@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Cormorant+Infant:ital,wght@0,300;1,300&family=Montserrat:wght@100;200;300;400;500&family=Poiret+One&display=swap");

html {
  font-size: 62.5%;
}

*,
*:before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  overflow: auto;
  /* position: relative; */
  max-width: 100%;
  height: 100vh;
}

.container {
  margin: 0 50px;
}

.active {
  border-bottom: 2px solid #ffffff;
}

.header {
  padding: 0 15px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  height: 6rem;
  width: 100vw;
  display: flex;
  z-index: 10;
}

.navbar {
  padding-top: 2.6rem;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  width: 15rem;
}

.navbar-list {
  display: none;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  align-items: center;
  z-index: 10;
}

.navbar-item {
  display: flex;
  gap: 40px;
}

.navbar-item a {
  margin: 3.7rem;
  cursor: pointer;
  z-index: 1;
}

.navbar-link {
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
  color: #ffffff;
  z-index: 1;
}

.navbar-item a:hover {
  text-decoration: underline;
}

.btn-action {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #ffff;
  padding: 1.5rem 3rem;
  background-color: #4266af;
  border-radius: 20px;
  border: none;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin: 0 auto;
}

.btn-action:hover {
  background-color: #2f4297;
  transform: scale(1.2);
}

@keyframes floating {
  0% {
    top: 0rem;
  }
  100% {
    top: -2rem;
  }
}

.title {
  margin-top: 12rem;
  display: flex;
  flex-direction: row;
}

.title-principal {
  color: #ffff;
  font-size: 5rem;
  font-weight: 700;
  text-transform: capitalize;
}

.title-principal h1 {
  font-family: "Montserrat";
  font-size: 7rem;
  color: #445576;
  margin: 10px 0 30px 0;
}

.section-text h1 {
  font-family: "Montserrat";
  font-size: 7rem;
  color: #445576;
  margin: 40px 0 30px 0;
}

.title-principal p,
.section-text ul,
.section-text p {
  font-family: "Montserrat";
  font-size: 1.4rem;
  color: #2b2b2b;
  text-transform: none;
  margin-bottom: 45px;
  font-weight: 400;
  line-height: 28px;
}

.section-text ul li {
  /* list-style-type: none; */
  line-height: 28px;
  text-align: left;
}

.section-text li p {
  margin-bottom: 17px;
  list-style-type: none;
  /* line-height: 20px; */
  text-align: left;
}

.title-small {
  font-size: 2.5rem;
  font-weight: 900;
  color: #272727;
  letter-spacing: 1rem;
  font-family: "Poiret One";
}

.sections {
  margin: 50px 0;
}

.section {
  padding: 0 10rem;
}

.call-to-action {
  margin-top: 1rem;
}

#section1,
#section2,
#section3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

#section2 .section-text {
  flex-grow: 1;
}

/* Images */

.skier {
  position: absolute;
  top: 20rem;
  animation: floating 2s linear infinite alternate;
  z-index: -1;
}

.skier img {
  width: 100%;
  height: 100%;
}

.skier-boy img,
.skier-kids img,
.kids img {
  width: 60rem;
}

#section4 h1 {
  margin-top: 50px;
  text-align: center;
}

#section4 {
  font-weight: 300;
  font-size: 1.8rem;
}

#section4 a {
  display: flex;
  justify-content: center;
  margin: 0, auto;
  width: 250px;
}

/* Contact form */

#contact-form {
  text-align: center;
  margin: 50px auto;
  max-width: 400px;
  padding: 20px;
  background-color: #f1f5fe;
  border-radius: 5px;
}

#success-message {
  text-align: center;
}

/* Style for form labels */
.label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 1.5rem;
}

/* Style for form inputs and textarea */
.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.message-input {
  width: 100%;
  padding: 10px 0;
  height: 100px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Footer */

.footer {
  padding: 150px 0px 150px 0;
  font-weight: 300;
  background-image: url("../images/Footer.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  color: white;
  font-weight: 500;
  height: 500px;
}

.footer-text {
  margin-top: 90px;
}

.footer .row {
  padding: 10px 0;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  text-align: center;
}

.footer .row a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  font-weight: 500;
}

.footer .row a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footer .row ul {
  width: 100%;
  font-weight: 500;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 1.5em;
  margin: 0% 1%;
}

.icon-container i.fa {
  color: white;
}

@media (min-width: 992px) {
  .title {
    width: 45%;
    margin-bottom: 200px;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
  }
}

/* Media query for screens smaller than 768px (e.g., iPads) */
@media (max-width: 768px) {
  body {
    font-size: 1.6rem;
  }

  .title {
    margin-top: 70rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
  }

  .container {
    margin: 0 40px;
  }
  /*
  .navbar-list {
    display: none;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  } */

  #logo img {
    width: 10rem;
    display: flex;
    margin-left: 20px;
  }

  /* .navbar-item a {
    margin: 1.7rem;
  } */

  .btn-action {
    padding: 1.2rem 2rem;
  }

  .skier {
    top: 15rem;
    z-index: -1;
  }

  .title-principal h1,
  .section-text h1 {
    font-size: 5rem;
    margin: 30px 0 30px 0;
  }

  .title-principal p,
  .section-text ul,
  .section-text p,
  .section-text li,
  .message-input {
    font-size: 1.2rem;
    line-height: 24px;
  }

  /* Adjust the size of some images on smaller screens */
  .skier-boy img,
  .skier-kids img,
  .kids img {
    width: 50rem;
  }

  .skier img {
    width: 72.5rem;
    display: flex;
    flex-flow: right;
  }

  #section1,
  #section2,
  #section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 60px;
  }

  .footer {
    text-align: center;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: center;
  }

  .footer .row a i {
    margin: 0% 3%;
  }
}

/* Media query for screens smaller than 480px (e.g., mobile devices) */
@media (max-width: 480px) {
  body {
    font-size: 1.4rem;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
  }

  .container {
    margin: 0 30px; /* Adjust container margins for smaller screens */
  }

  .skier {
    top: 10rem;
  }

  .title {
    margin-top: 37rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
  }

  /* Reduce the font size for section headings on smaller screens */
  .title-principal h1,
  .section-text h1 {
    font-size: 4rem;
    text-align: center;
  }

  /* Reduce the font size and line height for text on smaller screens */
  .title-principal p,
  .section-text ul,
  .section-text p,
  .section-text li,
  .message-input {
    font-size: 1.1rem;
    line-height: 20px;
    text-align: center;
  }

  /* Adjust the size of some images on smaller screens */
  .skier img,
  .skier-boy img,
  .skier-kids img,
  .kids img {
    width: 36rem;
  }

  #section1,
  #section2,
  #section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 60px;
  }
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
  margin-top: 10px;
}

/*Responsive Adding Media Queries*/

@media screen and (max-width: 800px) {
  nav {
    position: relative;
    z-index: 3;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .navbar-list {
    background: #ffffff;
    position: absolute;
    opacity: 1;
    /* height: 100%; */
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(10px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    border: 1px white solid;
    border-radius: 10px;
  }

  .navbar-item a {
    color: #272727;
    margin: 0.5rem;
    cursor: pointer;
  }

  .navbar-list.open {
    clip-path: circle(1000px at 90% -10%);
    /* -webkit-clip-path: circle(1000px at 90% -10%); */
    pointer-events: all;
    margin-top: 50px;
    padding: 20px;
  }

  .navbar-list li {
    opacity: 0;
  }
  .navbar-list li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .navbar-list li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .navbar-list li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .navbar-list li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .navbar-list li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .navbar-list li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .navbar-list li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }

  /* Navigation Bar Icon on Click*/

  .toggle .bars1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .bars2 {
    transition: all 0s ease;
    width: 0;
  }

  .toggle .bars3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
